
.topRow {
  display: flex;
  padding-bottom: 10px;
}

.textField {
  background-color: hotpink;
  flex: 3;
  order: 1;
}

.button {
  background-color: pink;
  flex: 1;
  order: 2;
}

#lyricsDisplay {
  background-color: skyblue;
  padding-top: 10px;
}
